.list {
  margin: 5rem 0;
  box-shadow: 0px 0px 8px #ccc;
  background-color: #fff;
  padding-bottom: 1rem;
  border-radius: 5px;
}

.list .item:nth-child(1) {
  font-weight: bold;
  color: #afafaf;
  padding: 1.25rem 1rem 1rem;
  text-transform: uppercase;
}

.item {
  padding: 0.75rem 1rem;
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr;
  grid-gap: 0 1.2rem;
  align-items: center;
  border-bottom: 1px solid #afafaf;
  font-size: 14px;
}

.list .item:last-child {
  border-bottom: none;
}

.item .tag {
  float: right;
  text-align: center;
  margin-right: 0;
  line-height: 18px;
  font-size: 12px;
  min-width: 60px;
  color: #fff;
  background-color: var(--bg-green);
}
.item .tag.building {
  background-color: var(--bg-yellow);
}
.item .action {
  grid-column: 2 / 5;
  padding: 0 2rem;
  display: flex;
}
.item .action button {
  margin-right: 0.8rem;
}
.item .action i {
  font-weight: bold;
  position: relative;
  top: 1px;
  right: 4px;
}
.item .action .right-icon {
  right: -4px;
}
.item .action .btn-icon > i {
  right: 0;
}
.item .action .deny {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 4em;
}
